/* toolbar hovers */
#toolbar i:hover { 
    color: white; 
    cursor: pointer;
}

#song__title:hover { 
    text-decoration: underline;
    cursor: pointer;
}

#play-icon:hover { 
    transform: scale(1.2); 
}


/* sliders */
#player__time:hover #timeline__current-time, #volume-bar:hover #volume__current-volume {
    background-color: #ADFF2F;
    cursor: pointer;
}

#player__time:hover .spot, #volume-bar:hover .spot {
    display: block;
}

#player__time:hover #timeline__slider, #volume-bar:hover {
    cursor: pointer;
}

/* #volume-bar:hover::after {
    content: "";
    display: block;
    width: 20%;
    height: 4px;
    background-color: #ADFF2F;
    border-radius: 10px;
    cursor: pointer;
}  */


/* sidebar hovers */
.home-item:hover, #playlist__new:hover, .playlist__name:hover, #install:hover { 
    color: white; 
    cursor: pointer;
}
.home-item:hover img, #install:hover img { opacity: 1; }


/* main hovers */ 
#upgrade__btn:hover { transform: scale(1.1); }
#nav-explorer li:hover { color: white; }


/* overlay alle cover album */
.album__thumbnail:hover::after {  
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: black;
    opacity: 0.4;
    cursor: pointer;
}

.album__thumbnail:hover i  {
    display: block;
    z-index: 1;
}