@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

img { max-width: 100%; }
ul { list-style-type: none; }
a { 
    text-decoration: none;
    color: currentColor;
}

/* --- */

/* COMMON */
body { 
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    color: #646464;
}

.white { color: white; }
.bold { font-weight: 700; }
.bar { 
    height: 4px;
    background-color: #5A5A5A;
    border-radius: 10px;
}


/* HEADER - TOOLBAR */
#toolbar {
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
    /* canzone */
#song { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 15px;
    flex-basis: 230px;
    padding: 0 10px;
}

#song img {
    height: 50px;
    width: 50px;
}

#song__details {
    display: flex;
    flex-direction: column;
}

    /* player centrale */
#player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player__commands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}

#play-icon { 
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    transition: font-size;
}

#play-icon i {
    font-size: 30px;
}

#player__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}

#player__bar { 
    width: 23vw;
    position: relative;
}

#player__bar::after {
    content: "";
    display: block;
    width: 20%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}

    /* comandi suono */
#sound-commands {
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding: 0 10px;
}

#volume-bar { width: 7vw; }
#volume-bar::after {
    content: "";
    display: block;
    width: 20%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}


/* MAIN */
main {
    flex-grow: 1;
    display: flex;
    overflow-y: scroll;
}

/* sidebar */
#sidebar { 
    background-color: black;
    flex-basis: 230px;
    padding: 10px;
    flex-shrink: 0;
    position: relative;
}

    /* loghi */
#logo-sm { display: none; }
#logo-lg { 
    width: 75%;
    height: auto;
}

    /* lista widget home */
.home-item img { 
    height: 25px;
    vertical-align: middle;
    opacity: 0.7;
}

#home-list { padding: 30px 0; }
.home-item__text { line-height: 25px; }

    /* blocco playlist */
#playlist__title {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 30px;
}

#playlist__new i { 
    font-size: 40px;
    vertical-align: middle;
}

#playlist__new { 
    line-height: 40px;
    font-size: 15px;
}

.playlist__name { line-height: 25px; }

    /* tasto installa */
#install {
    border-bottom: 1px solid #5A5A5A;
    width: 90%;
    line-height: 40px;
    position: absolute;
    bottom: 50px;
}

#install img { 
    width: 15px;
    vertical-align: middle;
    opacity: 0.7; 
}

    /* user profile */
#user {
    line-height: 40px;
    position: absolute;
    bottom: 0;
}

#user > div { 
    border-radius: 50%;
    background-color: #808080;
    height: 25px;
    width: 25px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}


/*main content */
#main-content {
    flex-grow: 1;
    background-color: #141922;
    position: relative;
    padding-top: 100px;
}

    /*upgrade banner */ 
#upgrade-banner {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
}

#upgrade__btn {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 50px;
    font-weight: 700;
}

    /* nav esplora */
#nav-explorer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#nav-explorer li {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 50px;
}
















/* debug */
/* .debug #toolbar { border: 1px solid #27D0B2; } */
.debug #toolbar > .song, .debug #toolbar > .player, .debug #toolbar > .sound-commands {
    border: 1px solid #FFA800; 
}

/* .debug #sidebar { border: 1px solid #FFA800; } */
.debug #main-content { border: 1px solid #FF08E6; }

/* .debug #upgrade-banner { border: 1px solid #25bb00; } */
/* .debug #nav-explorer { border: 1px solid salmon;} */
.debug #recently { border: 1px solid #8f00bb; }
.debug #created-for { border: 1px solid #00bbab; }
.debug #popular { border: 1px solid #bb6a00; }