@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #646464;
}

img { max-width: 100%; }
ul { list-style-type: none; }
li { cursor: pointer; }
a { 
    text-decoration: none;
    color: currentColor;
}

/* --- */

/* COMMON */
body { 
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}

.white {
    color: white;
}

/* HEADER - TOOLBAR */
#toolbar {
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
    /* canzone */
#song { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 200px;
}

#song img {
    height: 50px;
    width: auto;
}

#song__details {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}















/* MAIN */
main {
    flex-grow: 1;
    display: flex;
    overflow-y: scroll;
}

/* sidebar */
#sidebar { 
    background-color: black;
    color: #5A5A5A;
    font-weight: 700;
    flex-basis: 200px;
    padding: 10px;
    flex-shrink: 0;
    position: relative;
}

    /* loghi */
#logo-sm { display: none; }
#logo-lg { 
    width: 75%;
    height: auto;
}

    /* lista widget home */
.home-item img { 
    height: 25px;
    vertical-align: middle;
}

#home-list { padding: 30px 0; }

.home-item__text {
    font-weight: 700;
    line-height: 25px;
}

    /* blocco playlist */
#playlist__title {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 30px;
}

#playlist__new i { 
    font-size: 40px;
    vertical-align: middle;
}

#playlist__new { 
    line-height: 40px;
    cursor: pointer;
}

.playlist__name { line-height: 25px; }

    /* tasto installa */
#install {
    border-bottom: 1px solid #5A5A5A;
    width: 90%;
    font-weight: 700;
    /* display: flex;
    align-items: center;
    column-gap: 10px; */
    line-height: 40px;
    position: absolute;
    bottom: 50px;
}

#install img { 
    width: 15px;
    vertical-align: middle; 
}

/* #install::after {
    content: "";
    display: block;
    border-bottom: 1px solid #5A5A5A;
    width: 90%;
} */

    /* user profile */
#user {
    /* display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: auto; */
    font-weight: 700;
    line-height: 40px;
    position: absolute;
    bottom: 0;
}

#user > div { 
    border-radius: 50%;
    background-color: #808080;
    height: 25px;
    width: 25px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}


/*main content */
#main-content {
    flex-grow: 1;
    background-color: #141922;
    position: relative;
    padding-top: 120px;
    padding-left: 20px;
}

#upgrade-banner {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
}



/* debug */
.debug #toolbar { border: 1px solid #27D0B2; }
.debug #toolbar > .song, .debug #toolbar > .player, .debug #toolbar > .sound-commands {
    border: 1px solid #FFA800; 
}

/* .debug #sidebar { border: 1px solid #FFA800; } */
.debug #main-content { border: 1px solid #FF08E6; }

.debug #upgrade-banner { border: 1px solid #25bb00; }
.debug #nav-explorer { border: 1px solid salmon;}
.debug #recently { border: 1px solid #8f00bb; }
.debug #created-for { border: 1px solid #00bbab; }
.debug #popular { border: 1px solid #bb6a00; }