@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
}

img { max-width: 100%; }
ul { list-style-type: none; }
a { 
    text-decoration: none;
    color: currentColor;
}

/* --- */

/* COMMON */
body { 
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}

    /* HEADER */
/* toolbar */
#toolbar {
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

    /* MAIN */
main {
    flex-grow: 1;
    display: flex;
    overflow-y: scroll;
}

/* sidebar */
#sidebar { 
    background-color: black;
    flex-basis: 200px;
    padding: 10px;
    flex-shrink: 0;
}

#logo-sm { display: none; }
#logo-lg { 
    width: 75%;
    height: auto;
    padding-bottom: 10px;
}

#sidebar .home-item i { font-size: 20px; }

/*main content */
#main-content {
    flex-grow: 1;
    background-color: #141922;
    position: relative;
    padding-top: 120px;
    padding-left: 20px;
}

#upgrade-banner {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
}



/* debug */
.debug #toolbar { border: 1px solid #27D0B2; }
.debug #toolbar > .song, .debug #toolbar > .player, .debug #toolbar > .sound-commands {
    border: 1px solid #FFA800; 
}

.debug #sidebar { border: 1px solid #FFA800; }
.debug #main-content { border: 1px solid #FF08E6; }

.debug #upgrade-banner { border: 1px solid #25bb00; }
.debug #nav-explorer { border: 1px solid salmon;}
.debug #recently { border: 1px solid #8f00bb; }
.debug #created-for { border: 1px solid #00bbab; }
.debug #popular { border: 1px solid #bb6a00; }